<html>
  <head>
    <link rel="stylesheet" href="{{base_url}}resources/css/base.css">
  </head>

  <body>
    <section id="sidebar">
      <header>
  
        <span id="header-title">{{config.site_title}}</span>
        <a href="{{config.return_url}}">Back to site</a>
      </header>
      {% include 'sidebar.html' %}
    </section>
    <div id="content">
    <main>
      <h1 id="page-title">
        {% block pagetitle %}
        {% endblock %}
      </h1>
      {% block body %}
      {% endblock %}
    </main>
    <footer>
      Generated with Independoc
    </footer>
  </div>
  <script src="{{base_url}}resources/js/toggleVisible.js"></script>
  {% block scripts %}
  {% endblock %}
  </body>
</html>
