{% extends 'base.html' %}

{% block pagetitle %}
  {{config.site_title}}
{% endblock %}
{% block body %}
  <div id="main-index">
    {{body|safe}}

    {% for category, items in collection.items() %}
    {% if items|length > 0 %}
      <h3>{{category|title}}s</h3>
        {% for item in items %}
        <div class="category-index">
          <a href='{{item.url}}' >{{item.name}}</a>
        </div>
        {% endfor %}
    {% endif %}
    {% endfor %}
  </div>
{% endblock %}
