<nav>
  <ul>
    <li>
      <a href="{{base_url}}index.html">Home</a>
    </li>
    {% for category, items in collection.items() %}
    {% if items|length > 0 %}
    <li>
      <a onclick="toggleVisible('nav-{{category}}')">{{category|title}}s</a>
      <ul id="nav-{{category}}">
        {% for item in items %}
        <li>
          <a href='{{item.url}}' >{{item.name}}</a>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>
