@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  min-height: 100%;
  min-height: 100vh;
  color: #412234;
  background-color: #FAD7D7;
}

#sidebar{
  width: 260px;
  min-width: 200px;
  background-color: #412234;
  color: #FFF;
}

header{
  text-align: center;
  background-color: #86A5D9;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
}

#header-title{
  font-size: 20px;
  padding-bottom: 18px;
  flex-grow: 1;
}

header a{
  text-decoration: none;
  border: 1px solid white;
  color: white;
  padding: 8px;
  border-radius: 4px;
}

#content{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 900px;
  min-width: 400px;
  box-sizing: border-box;
  padding: 16px;
  background-color: white;
}

nav ul{
  list-style: none;
  padding: 0;
  display: block;
  margin: 0;
}

nav ul ul {
  display: none;
}

nav ul ul a {
  padding-left: 32px;
}

.visible{
  display: block;
}

nav a{
  text-decoration: none;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  color: #FFF;
  cursor: pointer;
}

nav a:hover{
  background-color: #86A5D9;
  
}
main{

   flex-grow: 1;
   padding: 0 12px 12px 12px;
   box-sizing: border-box;
  
}
footer{
  border-top: 1px solid #ddd;
  padding-top: 18px;
}

#page-title{
  border-bottom: 1px solid #ddd;
}

@media only screen and (max-width: 600px) {
    body {
       flex-direction: column;
    }
    #sidebar{
      width: auto;
    }
    header{
      text-align: left;
      height: 40px;
      padding-top: 8px;
      margin-bottom: 0;
      flex-direction: row;
    }
    
    header a{
      padding: 0;
      padding-right: 8px;
      padding-top: 5px;
      box-sizing: border-box;
      border: none;
      font-size: 12px;
    }
    
    nav ul li{
      display: inline-block;
      position: relative;
    }
    nav a{
      padding-right: 16px;
    }
    
    nav ul ul a{
      padding-left: 16px;
    }
    
    nav ul ul {
      position: absolute;
      top: 34px;
      left: 0;
      background-color: #412234
    }

}
video {
  width: 100%    !important;
  height: auto   !important;
  margin-bottom: 12px;
}

img {
  max-width: 100%;
}
